footer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 15vh;
    background-color: #fff;
    box-shadow: 0 -0.2rem 0.2rem lightgray;
    z-index: 1;
    font-size: 0.7em;
    justify-content: center;
    align-content: flex-start;
}
.current-date, .admin-info, .task-version{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3vw;
}
