.table-page{
    flex-direction: column;
    flex-wrap: wrap;
}
.table-с, .select-style-table{
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
    justify-content: center;
}
table{
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: .1rem solid grey;
}
th, td{
    border: 1px solid grey;
    padding: .3em;
    font-size: 1rem;
    min-width: 8vw;
}
input[type='button']{
    font-family: "GT Walsheim Pro", sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #30419b;
    padding: .3em;
    margin-bottom: .1em;
    margin-top: .2em;
    border-radius: .1em;
}
